.Posts {
  width: 600px;
  background-color: whitesmoke;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  
}

.Posts .img {
  width: 97%;
  height: 330px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Posts a {
  text-decoration: none;
}

.Posts h3 {
  font-weight: bold;
}

.Posts .postBody {
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  white-space: pre-wrap;
}

.Posts .username {
  margin-left: 10px;
  font-weight: bolder;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.no-like {
  float: right;
  border: 1px solid rgb(167, 32, 32);
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
}

.no-user span {
  font-size: 16px;
  margin-left: 4px;
}

.no-user .tooltip {
  visibility: hidden;
  width: 100px;
  background-color: rgb(139, 137, 137);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-style: italic;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* .no-user .tooltip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 3px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

.date {
  margin-left: 55px;
  margin-bottom: 10px;
  margin-top: -20px;
  font-size: 10px;
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.no-user:hover .tooltip{
  visibility: visible;
  opacity: 0.7;
}

.no-user {
  float: right;
  /* border: 1px solid rgb(167, 32, 32); */
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
}

.no-like span {
  font-size: 16px;
  margin-left: 4px;
}

.no-like:hover {
  background-color: rgb(167, 32, 32);
  color: white;
}

.Posts i {
  color: gray;
}

.like {
  float: right;
  border-radius: 4px;
  padding: 3px;
  color:  rgb(167, 32, 32);
  cursor: pointer;
}

.like span {
  font-size: 16px;
  margin-left: 4px;
}

.like:hover {
  border: 1px solid rgb(167, 32, 32);
}

#tag {
  margin-top: 4px;
  float: right;
  font-style: oblique;
  background-color: rgb(212, 207, 207);
  padding: 2.5px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .Posts {
      width: 94%;
  }
}