.Post {
  width: 50%;
  background-color: whitesmoke;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  
}

.Post .img {
  width: 97%;
  height: 330px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Post h3 {
  font-weight: bold;
}

.Post .postBody {
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  
}

.Post .username {
  margin-left: 10px;
  font-weight: bolder;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.avatar-comment {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 5px;
}

.comment-body {
  margin-left: 35px;
}

#tag {
  margin-top: 4px;
  float: right;
  font-style: oblique;
  background-color: rgb(212, 207, 207);
  padding: 2.5px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .Post {
      width: 94%;
  }
}