.App {
  text-align: center;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.dropZone{
  background-color:rgba(128, 128, 128, 0.5);
  display: block;
  margin-left: auto;
  margin-right: auto; 
	width: 21em;
	height: 19em;		
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
	     -o-transition: all 0.5s;
	        transition: all 0.5s;
}

.dropPreview{
	width:100%;
 	height:100%;
}


.main-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  box-sizing: border-box;
}
/* ****** FORM STYLING ****** */
.register-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.form {
  width: 500px;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #006dcc;
}

.center-div h3 {
  font-weight: bolder;
}

#upload-file-container {
  position: relative;
}

#upload-file-container input {
   filter: alpha(opacity=0);
   opacity: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
   position: absolute;
   top: 0;
   left:0;
}

#btn {
  /* margin-right: 3px; */
  margin-left: 5px;
}



/* ******* STYLES THAT MODIFY BOOTSTRAP'S DEFAULT STYLING */
.topnav a {
  font-size: 30px;
}

.form-button {
  cursor: pointer;
  font-size: 16px;
}

.btn {
  margin-bottom: 8px;
}

.top-spacing {
  margin-top: 65px;
}

.Auth {
  width: 35%;
  background-color: whitesmoke;
}

.error {
  color: red;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
